@import url('https://fonts.googleapis.com/css2? family= Poppins & display=swap');
*{
    box-sizing: border-box;
  
    padding: 0;
}

body{
    font-family:'Poppins', sans-serif; 
    overflow-x: hidden;
}

.main{
    padding-bottom: 10px;
}

.headerContaier{
    max-width: 900px;
    margin: 40px auto;
}


.container{
    display: flex;
    max-width: 900px;
    margin: auto;
}

.container .leftSide{
    flex: 1;
    
    margin-right: 40px;
}


.container .leftSide h1{
  margin: 0;
  font-size: 40px;
  color: #3A4b5c;
}

.container .leftSide p{
    font: size 16%;
    margin-bottom: 40px;
    color: #6A7DBB;
}

.container .leftSide input {
    width: 100%;
    border: 0;
    border-bottom:2px solid rgba(150, 163, 171, .5);
    margin-bottom: 20px;
    font-size: 14;
    outline: none;
}

.container .leftSide input:disabled{
    opacity: .5;
}
.container .leftSide button {
        background: #227c9D;
        color: #fff;
        font-size: 15px;
        border: 0;
        border-radius: 10px;
        padding: 15px 0;
        width: 100%;
        cursor: pointer;
        margin-top: 40px;
}

.container .leftSide button:hover{
    opacity: .8;
    transition: all .2s;
}

.container .leftSide button:disabled{
    opacity: .5;
}
.container .rightSide{
    flex: 1;
   display: flex;
    margin-left: 40px;
}

.container .rightSide .grid{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.container .rightSide .rightBig{
    flex: 1;
    display: flex;
    
}

.rightArrow{
    
    background: #227c9D;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: -35px;
    margin-top:145px ;
    transition: all ease .3s;
}


.rightArrow:hover{
    opacity: .8;
}

.footer{
    margin-top: 100px;
    text-align: center;
    font-size: 14px;
    padding: 2px;
    color: #3A4b5c;
}

@media(max-width:1428px){
    header{
        padding:  0 20px;
    }

    .container{
        padding:  0 20px;

        flex-direction: column;
    }

    .container .leftSide{
        margin-right: 0;
    }
    .container .rightSide{
        margin-left: 0;
        margin-top: 50px;
    }

    .container .rightSide .rightArrow {
        margin-top: 0;
        margin-left: 0;
        border-radius: 10;
    }
}

@media(max-width:430px){

    .container .rightSide .grid{
        grid-template-columns: 1fr;
    }


}